body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 0;
}


/*----------variales-------- */
:root{
    /* --primary-color: #DD0000;
    --primary-deep-color: #DD0000; */

    --primary-color: #326be6;
    --primary-deep-color: #0d6cf0;

    --white-color: #ffffff;
    --dark-color: #161616;
    --para-light-color: #B9B9B9;
    --para-dark-color: #272727;
    --link-color: #6146ff;
}


/*----------utilities-------- */
.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 10px;
}
.btn{
    background-color: var(--primary-color);
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    padding: 18px 30px;
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease, transform .4s ease;
    font-weight: 400;
    font-size: 20px;
}
.btn:hover{
    background-color: var(--primary-deep-color);
    transform: translateY(-2px);
}
.btn:active{
    background-color: var(--primary-color);
    transform: translateY(0);
}
.btn i{
    margin-left: 10px;
}
.btn_outline{
    outline: none;
    border: 1px solid rgba(153, 153, 153, 0.637);
    background-color: transparent;
    padding: 5px 12px;
    color: var(--dark-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease, color .2s ease;
}
.btn_outline:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}




/*----------Top Banner start-------- */
.top_banner{
    margin-top: 40px;
}


.top_banner__card{
    background-color: var(--dark-color);
    border-radius: 30px;
    padding: 77px 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    justify-items: center;

}
.banner__content{
     
}
.banner_image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner_image img{
    /* height 100% to fit image according to it's parent element */
    height: 100%; 
}
.banner__content .btn{
    margin-bottom: 80px;
}
.banner__content h1{
    font-weight: 700;
    font-size: 60px;
    color: var(--white-color);
}

.banner__content p{
    color: var(--para-light-color);
}

/*----------Top Banner end -------- */



/*----------main content start -------- */
.main_content{
    margin: 120px 0;
}

.content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content_navigation{
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}   
.content_navigation .nav_item{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.content_navigation .nav_item a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--white-color);
}
.content_navigation .active_item{
    background-color: var(--primary-color);
}

.content_navigation .nav_item a:hover{
    color: var(--link-color);
}

.content_items, .matches, .group_section{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    width: 100%; 

}

.content_item, .match, .group{
    border-radius: 13px;
    border: 1px solid rgba(214, 214, 214, 0.537);
}
.content_item img{
    width: 100%;
    display: block;
}   


.item_details{
    padding: 20px;
}
.item_details .btn{

}



.item_details h4{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.item_details .meta_info{
    display: flex;

}
.meta_info .item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
    color: gray
}

.meta_info .item img{
    width: 18px;
    height: 18px;
    margin-right: 3px;
}  

#show_all_item_btn{
    display: none;
    margin: 40px auto 0;
}

/*----------main content end -------- */



/*------------ upcomming-page matches container */
.matches{
    
}
.match{
    padding: 50px;
}
.match h4{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    color: var(--dark-color);
}
.match .date{
    font-size: 16px;
    color: var(--para-dark-color);
    text-align: center;
}
.flag_row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag_row h4{
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
}

.flag_row img{
    width: 100%;
}



/*----------upcomming-page all_group----------- */

.group_section{
    width: 100%; 
}
.group{
    box-sizing: border-box;
    padding: 20px;
}

.group_name{
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}
.group_teams{
    display: flex;
    flex-direction: column;
}
.team{
    background-color: rgba(228, 228, 228, 0.301);
    display: flex;
    margin: 4px 0;
    box-sizing: border-box;
    align-items: center;
}
.team_img{
    width: 60px;
    overflow: hidden;
}
.team_img img{
    margin-right: 10px;
    width: 100%;
    display: block;
}
.team_name{
    font-size: 16px;
    margin: 0 0 0 10px;
    font-weight: 500;
}

/*----------footer start -------- */
footer{
    background-color: var(--dark-color);
    padding: 80px 0;
}


.footer_title{
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: var(--white-color);
    text-align: center;
}

footer .row_divider{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}
footer .bottom_row{
    display: flex;
    justify-content: center;
}
.bottom_row a{
    text-decoration: none;
    padding: 10px 20px;
    color: var(--para-light-color);
    list-style: none;
}
.social_links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.social_links a{
    text-decoration: none;
    border: 1.5px solid rgb(132 132 132 / 45%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border-radius: 100%;
    transition: background-color .2s ease, border-color .3s;
}
.social_links a:hover{
    background-color: var(--primary-color);
    border-color: transparent;
}
.social_links a i{
    color: var(--para-light-color);
    font-size: 16px;
}


/*----------footer end -------- */











/* ----------- media queries---------- */



/*-------- small laptop view---------- */

@media only screen and (max-width: 1280px) {
    .top_banner__card{
        padding: 77px 0px 0 80px;
    }

    .top_banner__card h1{
        font-size: 50px;
        line-height: 1.15;
    }

    .banner_image img{
        height: auto;
        width: 100%;
    }


    .match{
        padding: 30px;
    }
}



/*-------- tablet view---------- */
@media only screen and (max-width: 834px) and (min-width: 577px) {

 
    /*------- utilities------ */
    .container{
        padding: 0 20px;
    }
    .btn{
        padding: 15px 25px;
        font-size: 18px;
    }


    /*--- top banner--- */
    .top_banner__card {
        padding: 50px 0px 0 50px;
    }
    .top_banner__card h1{
        font-size: 40px;
    }
    .top_banner__card p{
        font-size: 14px;
    }
  

    /*--- main content --- */
    .main_content{
        margin: 50px 0;
    }
    
    .content_wrapper{
        flex-direction: column;
    }

    .content_navigation{
        display: flex;
        padding: 0;
        margin: 10px auto 30px;
        background-color: transparent;
        justify-content: center;
    }
    .content_navigation .nav_item{
        padding: 10px 20px;
        margin: 0;
    }
    .content_navigation .nav_item a{
        color: var(--dark-color)
    }
    .content_navigation .active_item a{
        color: var(--white-color)
    }

    .content_items, .matches, .group_section{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        grid-gap: 20px;
        width: 100%
    }
    #show_all_item_btn{
        display: block;
    }


    /*--- footer --- */
    footer .bottom_row{
        flex-wrap: wrap;
    }
}



/*-------- mobile view---------- */

@media only screen and (max-width: 576px) {

    
    /*------- utilities------ */
    .container{
        padding: 0 15px; 
    }
    .btn{
        padding: 12px 25px;
        font-size: 14px;
    }

    .top_banner {
        margin-top: 15px;
    }
    /*--- top banner--- */
    .top_banner__card{
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px 50px 0;
    }
   
    .top_banner__card h1{
        font-size: 22px;
        font-weight: 700;
        color: var(--white-color);
    }
    .top_banner__card p{
        font-size: 14px;
    }
    .top_banner__card .btn{
        margin: 25px auto 40px;
    }
    .banner_image{
        margin-right: 0;
    }
    .banner_image img{
        height: auto;
        position: static;
        width: 100%;
    }


    /*--- main content --- */
    .main_content{
        margin: 25px 0;
    }
    .content_wrapper{
        flex-direction: column;
    }
   
    .content_navigation{
        display: block;
        padding: 0;
        margin: 10px auto 30px;
        background-color: transparent;
        width: 210px;
    }
    .content_navigation .nav_item{
        padding: 8px 0;
        margin: 0;
    }
    .content_navigation .nav_item a{
        color: var(--dark-color)
    }
    .content_navigation .active_item a{
        color: var(--white-color)
    }

    .content_items, .matches, .group_section{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        grid-gap: 15px;
        
        /* get full width of flex item */
        width: 100%;
    }


    /*--- footer --- */
    footer{
        padding: 25px 0;
    }
    footer .row_divider{
        margin: 15px 0;
    }
    footer .bottom_row{
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
    .bottom_row li{
        text-align: center;
        margin: 0;
        font-size: 14px;
    }
    .footer_title{
        font-size: 22px;
    }
}
