body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 0;
    font-weight: 700;
    font-size: 60px;
}


/*----------variales-------- */
:root{
    --primary-color: #DD0000;
    --white-color: #ffffff;
    --dark-color: #161616;
    --para-light-color: #B9B9B9;
    --para-dark-color: #272727;
    --link-color: #6146ff;
}


/*----------utilities-------- */
.container{
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}
.btn{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 16px 25px;
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease, transform .4s ease;
}
.btn:hover{
    background-color: #ff2020;
    transform: translateY(-2px);
}
.btn:active{
    background-color: var(--primary-color);
    transform: translateY(0);
}
.btn i{
    margin-left: 10px;
}
.btn_outline{
    border: 1px solid rgba(153, 153, 153, 0.637);
    background-color: transparent;
    padding: 5px 12px;
    color: var(--dark-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease, color .2s ease;
}
.btn_outline:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}




/*----------Top Banner start-------- */
.top_banner{

}


.top_banner__card{
    background-color: var(--dark-color);
    border-radius: 30px;
    padding: 30px 50px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-items: center;
}
.banner__content{
     
}

.banner_image{
    /* position: absolute; */
}
.banner_image img{
    display: block;
    height: 100%;
    /* width: 100%; */
}
.banner__content .btn{
    margin-bottom: 50px;
}
.banner__content h1{
    color: var(--white-color);
}

.banner__content p{
    color: var(--para-light-color);
}

/*----------Top Banner end -------- */



/*----------main content start -------- */
.main_content{

}

.content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content_navigation{
    background-color: var(--dark-color);
    padding: 30px 40px;
    border-radius: 10px;
}   
.content_navigation .nav_item{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.content_navigation .nav_item a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--white-color);
}
.content_navigation .active_item{
    background-color: var(--primary-color);
}

.content_navigation .nav_item a:hover{
    color: var(--link-color);
}

.content_items{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px
}

.content_item{
    border-radius: 13px;
    border: 1px solid rgba(214, 214, 214, 0.537);
}
.content_item img{
    width: 100%;
    display: block;
}   


.item_details{
    padding: 20px;
}
.item_details .btn{

}



.item_details h4{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.item_details .meta_info{
    display: flex;

}
.meta_info .item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
    color: gray
}

.meta_info .item img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}  

/*----------main content end -------- */



/*----------footer start -------- */
footer{
    background-color: var(--dark-color);
    padding: 50px;
}


.footer_title{
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: var(--white-color);
    text-align: center;
}

footer .row_divider{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}
footer .bottom_row{
    display: flex;
    justify-content: center;
}
.bottom_row li{
    padding: 0 30px;
    color: var(--para-light-color);
    list-style: none;
}

/*----------footer end -------- */